torch>=2.0.1
torchvision>=0.15.2
faster-coco-eval>=1.6.5
PyYAML~=6.0.2
tensorboard
scipy~=1.14.1
calflops~=0.3.2
transformers
scikit-image~=0.25.0
numba~=0.60.0
fire~=0.7.0
numpy~=2.0.2
pillow~=11.0.0
sympy~=1.13.1
packaging~=24.2
tqdm~=4.67.1
opencv-python
